@model PersonalExpenseSystem.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <ejs-textbox id="Name" placeholder="Category Name" ejs-for="CategoryName" floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-textbox id="Icon" placeholder="Icon" ejs-for="CategoryIcon" floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="CategoryIcon" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-textbox id="Type" placeholder="Type" ejs-for="CategoryType" floatLabelType="Always"></ejs-textbox>
                <input asp-for="CategoryType" class="form-control" />
                <span asp-validation-for="CategoryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
